<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body> 

<div class="container-fluid navbar-style">
<div class="row">
<div class="col-md-10 col-12 mx-auto">
<nav class="navbar navbar-expand-md navbar-light py-4">
    <a class="logo" href="#" style="text-decoration: none;">Prashant</a>
            
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span></button>
              
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#service">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#gallery">Gallery</a>
               </li>
               <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
               </li>
            </ul>
        </div>
</nav>   
</div>
</div>
</div> 

            
<div class="container-fluid mt-5" id="home">
    <div class="row">
       <div class="col-md-10 col-12 hero mx-auto">
          <div class="row">

             <div class="col-md-6 col-12 hero-left order-md-0 order-1">
                <h1 class="we">WE WILL HELP YOU TO</h1>
                <h1 class="gr">GROW YOUR BUSINESS</h1>
                <p class="wea">We Are The Team Of <span>Professional Devloper</span></p> 
                <button class="btn btn-primary re">Read more</button>
             </div>

             <div class="col-md-6 col-12 hero-right order-md-1 order-0">
                <figure>
                    <img src="images/rr.png" height="400" alt="">
                </figure>
             </div>
          </div>
       </div>
    </div>
</div>           

<div class="container-fluid mt-5" id="about">
    <div class="row">
         <div class="col-md-10 col-12 hero mx-auto">
            <h1 class="text-center main-heading text-primary" style="font-size: 3.4rem;">About Us</h1>
            <p class="text-center sub-heading">grow your business with us</p>
            <div class="row">

             <div class="col-md-6 col-12 hero-right order-md-0 order-0">
                <figure>
                    <img src="images/cr.png" height="400" alt="">
                </figure>
             </div>

             <div class="col-md-6 col-12 hero-left order-md-1 order-1">
                <h1 class="we">WE ARE THE PROFESSIONAL DEVLOPER</h1>
                <p class="wea">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique voluptatem eius magnam? Deserunt, enim rem fuga assumenda at voluptatem eos officia delectus, a magni adipisci, quibusdam iste nulla mollitia quo.</p> 
                <button class="btn btn-primary re">Read more</button>
             </div>
          </div>
       </div>
    </div>
</div> 

<div class="container-fluid mt-5" id="service">
    <div class="row">
         <div class="col-md-10 col-12 hero mx-auto">
            <h1 class="text-center main-heading text-primary" style="font-size: 3.4rem;">Our Services</h1>
            <p class="text-center sub-heading">grow your business with us</p><br>
            <div class="row">

            <div class="col-md-4">
               <div class="box">
                 <div class="ourservice settings">
                    <div class="icon">
                      <center><img src="https://i.imgur.com/6NKPrhO.png" width="50" height="50" alt="set"></center>
                    </div>
                      <h4 class="text-center se">Settings</h4>
                      <p class="text-center lr">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                 </div>
               </div><br>
            </div>

            <div class="col-md-4">
               <div class="box">
                 <div class="ourservice speedup">
                    <div class="icon">
                      <center><a href="" class="spe"><i class="fa fa-tachometer"></i></a></center>
                    </div>
                      <h4 class="text-center spee">Speed Up</h4>
                      <p class="text-center lr">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                 </div>
               </div><br>
            </div>

            <div class="col-md-4">
               <div class="box">
                 <div class="ourservice privacy">
                    <div class="icon">
                      <center><img src="https://i.imgur.com/AgyneKA.png" width="50" height="50" alt="set"></center>
                    </div>
                      <h4 class="text-center se">Privacy</h4>
                      <p class="text-center lr">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                 </div>
               </div><br>
            </div>

            <div class="col-md-4">
               <div class="box">
                 <div class="ourservice backup">
                    <div class="icon">
                      <center><img src="https://i.imgur.com/vdH9LKi.png" width="50" height="50" alt="set"></center>
                    </div>
                      <h4 class="text-center se">Back Up</h4>
                      <p class="text-center lr">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                 </div>
               </div><br>
            </div>

            <div class="col-md-4">
               <div class="box">
                 <div class="ourservice secured">
                    <div class="icon">
                      <center><img src="https://i.imgur.com/v6OnUqu.png" width="50" height="50" alt="set"></center>
                    </div>
                      <h4 class="text-center se">SSL Secured</h4>
                      <p class="text-center lr">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                 </div>
               </div><br>
            </div>

            <div class="col-md-4">
               <div class="box">
                 <div class="ourservice database">
                    <div class="icon">
                      <center><img src="https://i.imgur.com/VzjZw9M.png" width="50" height="50" alt="set"></center>
                    </div>
                      <h4 class="text-center se">Database</h4>
                      <p class="text-center lr">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                 </div>
               </div>
            </div>


            </div>
        </div>
    </div>
</div>     

<div class="mt-5">
  <div class="row">
     <div class="col-md-10 col-12 mx-auto">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d119066.54141359897!2d72.75225577812553!3d21.15918573907499!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04e59411d1563%3A0xfe4558290938b042!2sSurat%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1627022073912!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
     </div>
  </div>
</div> 

<div class="container-fluid mt-5 mb-5" id="contact">
    <div class="row">
         <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading text-primary" style="font-size: 3.4rem;">Contact Us</h1>
            <p class="text-center sub-heading">grow your business with us</p><br>
          <div class="row">

            <div class="col-md-5 mx-auto">
               <form action="/contact" method="POST">
                 <div class="form-group">
                   <label style="font-size: 1.4rem;">Name</label>
                   <input type="text" name="name" class="form-control" placeholder="Enter name" style="height: 3rem;">
                 </div> 
                 <div class="form-group">
                   <label style="font-size: 1.4rem;">Email</label>
                   <input type="text" name="email" class="form-control" placeholder="Enter email" style="height: 3rem;">
                 </div> 
                 <div class="form-group">
                   <label style="font-size: 1.4rem;">Phone number</label>
                   <input type="text" name="phone" class="form-control" placeholder="Enter number" style="height: 3rem;">
                 </div> 
                 <div class="form-group">
                   <label style="font-size: 1.4rem;">Message</label>
                   <input type="text" name="message" class="form-control" placeholder="Enter message" style="height: 3rem;">
                 </div> 
                 <button type="submit" class="btn btn-primary">Submit</button>
               </form>
            </div>

         </div>
         </div>
    </div>
</div>            

<footer>
    <p>Created With 💖</p>
</footer>  

{{!-- https://prashantpipaliya.herokuapp.com/ --}}
</body>
</html>